version: "3.9"

services:
  next-prod:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: next-prod
    environment:
      HOSTNAME: "0.0.0.0"
      NODE_ENV: "production"
      PORT: "3000"
      MONGO_URI: ${MONGO_URI}
      JWT_SECRET: ${JWT_SECRET}
    # In prod you usually don't mount the source; run the built image
    # volumes:
    #   - .:/app
    #   - /app/node_modules
    depends_on:
      mongo:
        condition: service_healthy
    restart: always
    networks:
      - app-net
    expose:
      - "3000"
    command: ["npm", "run", "start"]

  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: admin

      MONGO_APP_R_USER: ${MONGO_APP_R_USER}
      MONGO_APP_R_PASS: ${MONGO_APP_R_PASS}
      MONGO_APP_RW_USER: ${MONGO_APP_RW_USER}
      MONGO_APP_RW_PASS: ${MONGO_APP_RW_PASS}
      MONGO_DB: ${MONGO_DB}
    volumes:
      - mongo_data:/data/db
      - ./init-scripts:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 3s
      retries: 20
    # You *can* omit this port in prod if you never connect from host.
    ports:
      - "27017:27017"
    networks:
      - app-net

  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    depends_on:
      - next-prod
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    command: >
      tunnel --no-autoupdate run --token ${TUNNEL_TOKEN}
    restart: always
    networks:
      - app-net

volumes:
  mongo_data:

networks:
  app-net:
    driver: bridge